/* Card Styles */
.pokemonCard {
  height: 20rem;
  width: 14rem;
  padding: 1rem;
  border: none;
  margin-bottom: 10px; /* Space below each card */
}

.pokemonCard:hover {
  transform: scale(1.05); /* Add a hover effect to zoom slightly */
}
.collectionCard:hover {
  transform: scale(1.05); /* Add a hover effect to zoom slightly */
}
/* Button for drawing pack */
.drawButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drawButton:hover {
  background-color: #0056b3;
}

/* Card Overlay Styles */
#cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Make sure overlay is on top */
}

.overlay-content img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  object-fit: contain;
}

/* Rare Pokémon Styling with Foil Effect */
.pokemon-rare {
  position: relative;
  display: inline-block;
  filter: brightness(1.2) contrast(1.3) saturate(1.8);
  animation: foilEffect 3s infinite linear;
  -webkit-mask-image: linear-gradient(
    75deg,
    rgba(255, 0, 0, 0.3) 10%,
    rgba(255, 0, 255, 0.849) 30%,
    rgba(255, 255, 0, 0.7) 50%,
    rgba(255, 0, 255, 0.5) 70%,
    rgba(0, 255, 255, 0.3) 90%
  );
  -webkit-mask-size: 300% 100%;
}

@keyframes foilEffect {
  0% {
    -webkit-mask-position: -150% 0;
  }
  100% {
    -webkit-mask-position: 150% 0;
  }
}

/* Loading Screen Styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  z-index: 1000;
}

.loading-screen::before {
  content: "";
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Container for Cards */
#handDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards to the left */
  gap: 10px; /* Space between cards */
  padding: 20px;
}

/* Centering the last two cards */
#handDiv:last-child {
  justify-content: center; /* Center the last row of cards */
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 768px) {
  .pokemonCard {
    height: 15rem;
    width: 10rem;
  }

  .pokemon-rare {
    filter: brightness(1.15) contrast(1.3) saturate(2);
  }

  .loading-screen {
    font-size: 1.5rem;
  }
}
